<div>

    <hr>
    <p>
    FacebookId: <input type="text"  ng-model="facebookId"  required>
    Name: <input type="text"  ng-model="name" required>
    </p>
    <hr>
    <button type="button" ng-click="return()">Return</button>&emsp;&emsp;&emsp;

    <button type="button" ng-click="addUser()">Add </button>
</div>