<div>
    <p>Search for name: <input ng-model="query">
    Sort by:
    <select ng-model="orderProp">
        <option value="name">name</option>
        <option value="facebookId">FacebookId</option>
        <option value="events.length">Event Summation</option>
    </select>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <button type="button" ng-click="moveForAdd()">create a user </button>
    </p>
    <table class="table table-hover">
        <tr >
            <td>
                <h4>
                FacebookId
                </h4>
            </td>
            <td>
                <h4>
                 Name
                </h4>
            </td>
            <td>
                <h4>
                 Event Summation
                </h4>
            </td>
        </tr>
        <tr ng-repeat="user in users | filter:query | orderBy:orderProp " >
            <td>
                <button type="button" ng-click="removeUser( user._id )">Delete</button>
                <button type="button" ng-click="selectUser( user.facebookId )">edit</button>
                    {{ user.facebookId }}
            </td>
            <td>
                    {{ user.name }}
            </td>
            <td>
                    {{ user.events.length }}
            </td>

        </tr>
    </table>
</div>
