<user></user>
<form class="form-horizontal well" role="form" ng-submit="createEvent()">
    <div class="page-header">
        <h1>Create New Event</h1>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Event Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="name" placeholder="Name" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Event Description</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="3" ng-model="description" placeholder="Description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Event Date</label>
        <div class="col-sm-5">
            <input class="form-control" ng-model="date" type="date">
        </div>
        <label class="col-sm-1 control-label">From</label>
        <div class="col-sm-4">
            <input class="form-control" ng-model="time" type="time">
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">Tags</label>
        <div class="col-sm-10">
        <div class="col-sm-3 input-group" ng-repeat="tag in tags">
            <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
            <input class="form-control input-sm" type="text" ng-model="tag.t">

        </div>
        <button type="button" class="col-sm-1 btn btn-success btn-sm" ng-click="addTag()">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </button>
    </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-cloud-upload"></span> Submit</button>
        </div>
    </div>
</form>