<div>
    <table>
    <tr>
        <td>FacebookId:</td>
        <td><input type="text"   value = {{user.facebookId}}  disabled></td>
        <td><input type="text"  ng-model="facebookId"  required></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td><input type="text"   value = {{user.name}} disabled></td>
        <td><input type="text"  ng-model="name" required></td>
    </tr>

    </table>
    <hr>
    <button type="button" ng-click="return()">Return</button>&emsp;&emsp;&emsp;

    <button type="button" ng-click="updateUser()">Submit</button>

</div>