<user></user>
<eventdet></eventdet>
<div ng-init="init()">
    <div ng-show="is_owner">
        <div ng-init="showCreateQList=false">
            <button type="button" class="btn btn-success" ng-click="showCreateQList=!showCreateQList">Add Questionnaire</button>
            <div class="btn-group" style="float: right">
                <button type="button" class="btn btn-success" ng-click="sendPreviousQuestionLive()">Previous</button>
                <button type="button" class="btn btn-success" ng-click="sendQuestionLive()">Next</button>
            </div>

            <hr>
            <form ng-show="showCreateQList" class="input-group" name="form" novalidate>
                <span class="input-group-addon">Questionnaire's Name</span>
                <input class="form-control" type="text" placeholder="Name" ng-model="qlistName" name="qlistName" required>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" ng-click="saveQList()" ng-disabled="form.$error.required">Add</button>
                </span>
            </form>
        </div>

        <br>
        <questionnaire ng-repeat="qlist in event.qlists"></questionnaire>
    </div>
    <div ng-show="!is_owner">
        <div ng-show="!joined">
            <button type="button" class="btn btn-success" ng-click="join(event._id,user._id)">Join</button>
        </div>
        <div ng-show="joined">
            <button type="button" class="btn btn-success" ng-click="leave(event._id,user._id)">Leave</button>
            <hr>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{actual_question.text}}</h3>
                </div>
                <div class="panel-body">
                    <livevariant ng-repeat="variant in actual_question.variants"></livevariant>
                </div>
            </div>
        </div>
    </div>
</div>

