<!DOCTYPE html>
<html lang="en" ng-app="CApp">
<head>
    <meta charset="utf-8">
    <title>Clicker</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="js/jquery-1.10.2.min.js"></script>

    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-touch.min.js"></script>
    <script src="js/angular-local-storage.js"></script>
    <script src="js/ng-google-chart.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.png">

    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div class="screen">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Clicker</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" ng-controller="menuController">
                    <li ng-class="{ active: isActive('/')}" ng-click="selectMenu('myevent')"><a href=""><span class="glyphicon glyphicon-home" ></span> My Events</a></li>
                    <li ng-class="{ active: isActive('/allevents')}" ng-click="selectMenu('allevent')"><a href=""><span class="glyphicon glyphicon-list-alt" ></span> All Events</a></li>
                    <li ng-class="{ active: isActive('/createEvent')}" ng-click="selectMenu('createEvent')"><a href=""><span class="glyphicon glyphicon-cloud-upload" ></span> Create Event</a></li>
                    <li ng-class="{ active: isActive('/p')}" ><a href=""><span class="glyphicon glyphicon-folder-open" ></span> My Past Events</a></li>
                    <li ng-class="{ active: isActive('/s')}"><a href=""><span class="glyphicon glyphicon-cog" ></span> Setting</a></li>
                    <li ng-class="{ active: isActive('/admin')}" ng-click="selectMenu('admin')"><a href=""><span class="glyphicon glyphicon-home" ></span> Admin</a></li>
                    <li ng-class="{ active: isActive('/logout')}" ng-click="selectMenu('logout')"><a href=""><span class="glyphicon glyphicon-log-out" ></span> Logout</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </nav>



        <div ng-view class="container">

        </div>

    </div>
</body>
</html>
