<!DOCTYPE html>
<html lang="en" ng-app="CApp">
<head>
    <meta charset="utf-8">
    <title>Clicker</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.png">
</head>
<body>
<div class="col-md-6 col-md-offset-3">
<a href="/auth/facebook"><img class="img-responsive" src="img/active_600@2x.png" alt="Log in with Facebook"></a>
</div>
</body>
</html>