<div>
    <table class="table table-hover table-condensed table-responsive">
        <tr>
            <td style="width: 10%">
                <div class="holder" style="margin: 0px">
                    <div class="month blue">
                        <p>​{{ event.date | date:'MMMM' }}</p>
                    </div>
                    <div class="day">
                        <p>​{{ event.date | date:'dd' }}</p>
                    </div>
                </div>
            </td>
            <td>
                <h4>
                    {{ event.name }} <small>by {{ event.creator_name }}</small>
                </h4>
                <h6>
                    {{ event.description }}
                </h6>
                <h6>
                    Creation Date: {{ event.creationDate | date:'medium' }}
                </h6>
                <span class="badge" ng-repeat="t in event.tags">{{ t }}</span>
            </td>
            <td style="width: 10%">
                {{ event.action }}
            </td>
        </tr>
    </table>
</div>