<div class="{{ event.color }}" ng-repeat="event in events | orderBy:'date' | filter:query "  ng-click="selectEvent( event._id, event.target )">
    <div class="panel-heading">
        <h3 class="panel-title"> {{ event.name }} <small>by {{ event.creator_name }}
            <span> </span>{{ event.date | date:'medium' }}</small>
            <span class="{{ event.action }}" style="float: right"> </span>
            <span class="label label-info">{{ event.attendeesCount }}</span>
        </h3>

    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 small">
                    {{ event.description }}
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <span class="badge" ng-repeat="t in event.tags">{{ t }}</span>
    </div>
</div>