<div class="radio">

    <label>
        <input type="radio" value="{{ $index }}" name="{{ actual_question._id }}" ng-model="answer" ng-change="saveAnswer(actual_question._id,$index)">{{variant}}
    </label>
</div>
