
<div class="panel panel-primary" ng-init="showDetails=false">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="row">
                <div class="col-md-12" >
                    {{ qlist.name }}
                    <div class="btn-group btn-group-sm" style="float: right">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="showDetails=!showDetails">
                            <span ng-show="!showDetails" class="glyphicon glyphicon-chevron-down"></span>
                            <span ng-show="showDetails" class="glyphicon glyphicon-chevron-up"></span>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="goStatistics(qlist._id)">
                            <span class="glyphicon glyphicon-stats"></span>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="deleteQList(qlist._id)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="startQList(qlist._id)">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="stopQList(qlist._id)">
                            <span class="glyphicon glyphicon-pause"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body" ng-show="showDetails">
        <question ng-repeat="question in qlist.questions"></question>
        <div ng-init="showCreateQuestion=false">
            <button type="button" class="btn btn-primary" ng-click="showCreateQuestion=!showCreateQuestion">Add Question</button>
            <form ng-show="showCreateQuestion" class="input-group" name="form" novalidate>
                <span class="input-group-addon">Question Text</span>
                <input class="form-control" type="text" placeholder="Name" ng-model="qText" name="qText" required>
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click="saveQuestion(qText,qlist._id)" ng-disabled="form.$error.required">Add</button>
            </span>
            </form>

        </div>
    </div>
</div>