<div class="well well-sm" ng-init="showDetails=false">
    <div class="row">
        <div class="col-md-12">
            {{question.text}}
            <div class="btn-group btn-group-sm" style="float: right">
                <button type="button" class="btn btn-default btn-sm" ng-click="showDetails=!showDetails">
                    <span ng-show="!showDetails" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="showDetails" class="glyphicon glyphicon-chevron-up"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm" ng-click="goStatisticsQuestion(qlist._id,question._id)">
                    <span class="glyphicon glyphicon-stats"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm" ng-click="deleteQuestion(question._id,qlist._id)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
    </div>
    <div ng-show="showDetails">
        <hr>
        <form>
        <variant ng-repeat="variant in question.variants"></variant>
        </form>
        <div ng-init="showCreateVariant=false">
            <button type="button" class="btn btn-primary" ng-click="showCreateVariant=!showCreateVariant">Add Variant</button>
            <br>
            <form ng-show="showCreateVariant" class="input-group" name="form" novalidate>
                <span class="input-group-addon">Variant Text</span>
                <input class="form-control" type="text" placeholder="Name" ng-model="variantText" name="variantText" required>
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click="saveVariant(variantText,question._id,qlist._id)" ng-disabled="form.$error.required">Add</button>
            </span>
            </form>
        </div>
    </div>
</div>

<!--<variant ng-repeat="variant in variants"></variant>-->