<p>
    <div class="input-group">
    <!--   <span class="input-group-btn">

<                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      {{ searchName }} <span class="caret"></span></button>

           <ul class="dropdown-menu">
                      <li><a href="" ng-click="searchBy('Search')">Search</a></li>
                      <li><a href="" ng-click="searchBy('Search by Creator')">Search by Creator</a></li>
                      <li><a href="" ng-click="searchBy('Search by Event Name')">Search by Event Name</a></li>
                      <li><a href="" ng-click="searchBy('Search by Event Description')">Search by Event Description</a></li>
                      <li><a href="" ng-click="searchBy('Search by Tag')">Search by Tag</a></li>
                      <li><a href="" ng-click="searchBy('Search by Create Date')">Search by Create Date</a></li>
                      <li><a href="" ng-click="searchBy('Search by Date')">Search by Date</a></li>
                  </ul>

           <!--<button type="button" class="btn btn-default">Advance Search</button>-->
        </span>
        <input type="text" class="form-control" placeholder=" {{ searchName }}" ng-model="query"><span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="search(query)">Go!</button></span>
    </div>
</p>
