<div ng-controller="facebookUserController">
    <table>
        <tr>
            <td>
                <img class="user" id="image" src="http://graph.facebook.com/{{user.facebookId}}/picture?type=square"/>
            </td>
            <td>
                <h4>{{user.name}}</h4>
            </td>
        </tr>
    </table>
    <hr>
</div>