<div class="well well-sm">
    <div class="radio" ng-init="answer=question.correct_answer">

        <label>
            <input type="radio" value="{{ $index }}" name="{{ question._id }}" ng-model="answer" ng-change="saveCorrectAnswer(question._id,qlist._id,$index)">{{variant}}
        </label>
        <span ng-click="deleteVariant(variant,question._id,qlist._id)" style="float: right" class="glyphicon glyphicon-minus"></span>
    </div>
</div>